/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    background-color: #C4B0FF;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* Header styles */
  h1 {
    color: #4942E4;
    font-size: 36px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  #end {
    font-family: 'Lobster', cursive;
    color: #4942E4;
    font-size: 15px;
    margin-top: 50px;
    letter-spacing: 1px;
    text-align: right;
    margin-right: 50px;
  }
  
  /* Paragraph styles */
  p {
    font-family: 'Courgette', cursive;
    color: #11009E;
    font-size: 20px;
    line-height: 1.6;
    margin: 20px;
  }
    
  .button {
    background-color: #8696FE; /* Set the background color */
    display: inline-block;
    border-radius: 20px;
    border: none; /* Remove borders */
    color: white; /* Set text color */
    padding: 12px 28px; /* Set padding */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline block */
    font-size: 25px; /* Set font size */
    margin: 4px 2px; /* Set margin */
    cursor: pointer; /* Add cursor pointer on hover */
  }
